In [1]:
import pandas as pd
data = pd.read_excel('S3.xlsx')
data.head()

,Student,Gender,CHI,EN,MA,HM,PHY,CHEM,BIO,LSO,...,EL,CH.1,CL,EC,GEO,HI,ICT.1,PHY.1,PE DSE,VA.1
0,HK0001,M,49.00,55.0,58.0,51.00,52.0,39.0,46.00,42.0,...,--,--,--,--,39.12,--,--,47,--,--
1,HK0007,F,64.00,88.0,83.0,84.00,80.0,85.0,90.00,66.0,...,--,--,--,--,73.06,75.57,--,77,--,--
2,HK0011,M,50.73,85.1,69.1,61.77,74.0,68.0,68.08,68.0,...,52.18,--,--,89.3,--,--,--,82.3,--,--
3,HK0014,F,58.90,94.3,57.5,76.62,84.0,82.0,53.72,76.0,...,66.41,--,--,63.34,--,58.53,--,--,--,--
4,HK0015,M,46.00,52.0,39.0,38.00,29.0,27.0,29.00,29.0,...,--,--,--,47.26,--,--,--,--,59.14,--

In [2]:
descriptions =data['Gender'] +' '+ data['CHI'].apply(str) + ' ' + data['EN'].apply(str) +' '+ data['MA'].apply(str) +' '+ data['HM'].apply(str) +' '+ data['PHY'].apply(str) +' '+ data['CHEM'].apply(str) +' '+ data['BIO'].apply(str) +' '+ data['LSO'].apply(str) +' '+ data['BS'].apply(str) +' '+ data['CH'].apply(str) +' '+ data['ICT'].apply(str) +' '+ data['VA'].apply(str) +' '+ data['PE'].apply(str) +' '+ data['MA1'].apply(str) +' '+ data['MA2'].apply(str) +' '+ data['BIO'].apply(str) +' '+ data["BAFS (ACC)"].apply(str) +' '+ data["BAFS (BM)"].apply(str) +' '+ data['CHEM'].apply(str) +' '+ data['EL'].apply(str) +' '+ data['CH.1'].apply(str) +' '+ data['CL'].apply(str) +' '+ data['EC'].apply(str) +' '+ data['GEO'].apply(str) +' '+ data['HI'].apply(str) +' '+ data['ICT.1'].apply(str) +' '+ data['PHY.1'].apply(str) +' '+ data['PE DSE'].apply(str) +' '+ data['VA.1'].apply(str)
descriptions[360]

'M 51.0 76.22 46.1 44.79 46.3 46.3 46.3 46.13 55.81 41 80.0 78.0 71.9 -- -- 46.3 -- -- 46.3 -- -- -- -- -- -- 60.96 49.9 -- --'

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
def create_similarity_matrix(new_description, overall_descriptions):
        overall_descriptions.append(new_description)
        tfidf = TfidfVectorizer()
        tfidf_matrix = tfidf.fit_transform(overall_descriptions)
        tfidf_matrix.shape
        cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)
        return cosine_sim

In [4]:
def get_recommendations(new_description,overall_descriptions):
    cosine_sim = create_similarity_matrix(new_description,overall_descriptions)
    sim_scores = list(enumerate(cosine_sim[-1]))
    sim_scores = sorted(sim_scores,key =lambda x:x[1],reverse= True )
    sim_scores = sim_scores[0:5]
    indices = [i[0]for i in sim_scores]
    return data.iloc[indices]

In [ ]:
new_description = pd.Series(input('Enter gender and grades separated by a space: '))
get_recommendations(new_description,descriptions)