In [1]:
import pandas as pd
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_excel('Elective.xlsx')
dataset.head()

,Student,Gender,CHI,EN,MA,HM,PHY,CHEM,BIO,LSO,...,EL,CH.1,CL,EC,GEO,HI,ICT.1,PHY.1,PE DSE,VA.1
0,HK0001,M,49.00,55.0,58.0,51.00,52.0,39.0,46.00,42.0,...,0.00,0.0,0.0,0.00,39.12,0.00,0.0,47.0,0.00,0.0
1,HK0007,F,64.00,88.0,83.0,84.00,80.0,85.0,90.00,66.0,...,0.00,0.0,0.0,0.00,73.06,75.57,0.0,77.0,0.00,0.0
2,HK0011,M,50.73,85.1,69.1,61.77,74.0,68.0,68.08,68.0,...,52.18,0.0,0.0,89.30,0.00,0.00,0.0,82.3,0.00,0.0
3,HK0014,F,58.90,94.3,57.5,76.62,84.0,82.0,53.72,76.0,...,66.41,0.0,0.0,63.34,0.00,58.53,0.0,0.0,0.00,0.0
4,HK0015,M,46.00,52.0,39.0,38.00,29.0,27.0,29.00,29.0,...,0.00,0.0,0.0,47.26,0.00,0.00,0.0,0.0,59.14,0.0

In [3]:
dataset.shape

(364, 32)

In [4]:
x = dataset.drop(['Student', 'Gender', 'MA1', 'MA2', 'BIO.1', 'BAFS (ACC)', 'BAFS (BM)', 'CHEM.1', 'EL', 'CH.1', 'CL', 'EC', 'GEO', 'HI', 'ICT.1', 'PHY.1', 'PE DSE', 'VA.1'], axis=1)
y = dataset['CHEM.1']

In [5]:
print(x.head(2))
print(y.head(2))

    CHI    EN    MA    HM   PHY  CHEM   BIO   LSO    BS    CH   ICT    VA  \
0  49.0  55.0  58.0  51.0  52.0  39.0  46.0  42.0  42.0  48.0  70.0  73.0
1  64.0  88.0  83.0  84.0  80.0  85.0  90.0  66.0  88.0  75.0  90.0  91.0

     PE      Total
0  74.0  53.283333
1  86.0  81.133333
0    0.0
1    0.0
Name: CHEM.1, dtype: float64

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3)
print(x_train.shape)
print(y_test.shape)

(254, 14)
(110,)

In [7]:
model = MLPRegressor(hidden_layer_sizes=(100, 100,), activation = 'identity', max_iter= 500)

In [8]:
model.fit(x_train, y_train)

MLPRegressor(activation='identity', hidden_layer_sizes=(100, 100), max_iter=500)

In [9]:
predicted = model.predict(x_test)
predicted

array([ 65.96914383,  32.29128723,  -4.47501032,  15.69765312,
        56.16941151,  10.44327086,  33.52311929,  60.99150333,
        30.0742122 ,  -2.68711238,  46.37736464,  41.15412823,
        10.80886004,  18.41972975,  31.98209855,  23.722044  ,
        25.39508677,  49.20780873,  33.6100924 ,   1.42145009,
         5.42614473,  16.26173588,  53.87861581,  45.77937381,
        -0.09302048,  54.73837561,  10.64943436,  -0.66334012,
        36.95239289,  19.58272992,  61.19766364,  44.52444421,
        37.40456515,  32.41950637,  24.25528228,  11.6198202 ,
         9.01371051, -11.96617427,  54.56236933,  52.17609772,
        50.18035816,  26.58965825,  23.3008163 ,   1.92042259,
         3.7996454 ,  10.65272948,  47.74301226,  12.79689546,
        11.41053025,  36.96144596,   9.08696409,  20.40569029,
         3.92188744,  -3.66734571,  43.09364333,  38.17175259,
        38.96177994,  -2.6535368 ,  47.18421284,  43.41468878,
        -8.23069804,  27.33837795,  35.48084669,  10.38444824,
         7.03627071,  64.31108853,  -3.93912672,  54.92785328,
        -3.8536368 ,  11.96093815,  47.39864576,  12.66270803,
       -12.00155576,  22.34399808,  18.20104431,  51.30486485,
        -1.78025663,   3.64631198,   3.93950768,   3.50547833,
        72.50298132,   6.60793506,  14.18685146,   7.97924015,
        34.70520272,   1.02116749, -13.51631285,  11.87650343,
        41.36104077,  43.68578397,   0.20447768,  15.51771852,
        42.69753012,  30.60910012,  13.55016659,  21.5076347 ,
        10.56024619,  44.45339991,  60.30106046,  52.17845152,
         5.58911273,  45.55651247,  33.75455333,  33.90470287,
         1.63501829,  42.59104966,  31.5671787 ,  -5.78584298,
        49.83814054,  36.39709288])

In [10]:
y_test

93     80.76
357    31.38
271     0.00
18      0.00
224    71.52
       ...
244     0.00
76     55.60
69      0.00
203    76.82
313     0.00
Name: CHEM.1, Length: 110, dtype: float64

In [11]:
model.score(x,y)

0.5003689887066507